.studentViewBox {
    border: 1px solid black;
    border-radius: 4px;
    /* width: 300px; */
    /* height: 100px; */
    /* float: left; */
    /* clear: left; */
    /* margin-bottom: 0px; */
    margin-left: 4px;
}

.studentName {
    font-size: 18px;
}

.removedFromFlow {
    display: none;
}